*{
    box-sizing: border-box;
}

body{
    background: #FFFFFF;
}

.main-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 375px;



}

.top-bar{
    background-color: #C3CFD9;
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: fixed;
    top: 0;

    
}

.top-bar h1 {
    font-size: 34px;
    font-family: 'Roboto', sans-serif;

    color: #E8833A;
}


h2{
    font-size: 24px;
    color: #293845;
    margin-top: 110px;
    font-family: 'Roboto' sans-serif;
    font-weight: normal;
}